body {
  background: #C6D3DF
}

#banner {
  width:100%

}
.principal {
    background: #C6D3DF
}



h1 {
   text-align: center
}

p {
            text-align: center;
}

#missao {
  "font-size: 20px
}
em strong {
  color:#3F5B74
}


.itens {
  font-style: italic
}

.benefícios {
  background: #FFFFFF;
}


h2 {
  text-align: center
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 20%
  margin-right: 15%
}

.imagembeneficios {
  width: 50%;
}
